<!-- Vars: Page Name, 1970-01-01 00:00:00+0000, Subsection, vUdifFwDc -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="cdr255" />
    <meta name="author" content="Christopher Rodriguez" />
    <meta property="og:locale" content="en_US" />
    <link rel="canonical" href="https://cdr255.com/" />
    <link rel="stylesheet" href="/style/normalize.min.css" />
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="apple-touch-icon" sizes="180x180"
          href="/apple-touch-icon.png?v=vUdifFwDc">
    <link rel="icon" type="image/png" sizes="32x32"
          href="/favicon-32x32.png?v=vUdifFwDc">
    <link rel="icon" type="image/png" sizes="194x194"
          href="/favicon-194x194.png?v=vUdifFwDc">
    <link rel="icon" type="image/png" sizes="192x192"
          href="/android-chrome-192x192.png?v=vUdifFwDc">
    <link rel="icon" type="image/png" sizes="16x16"
          href="/favicon-16x16.png?v=vUdifFwDc">
    <link rel="manifest" href="/manifest.json?v=vUdifFwDc">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=vUdifFwDc"
          color="#528054">
    <link rel="shortcut icon" href="/favicon.ico?v=vUdifFwDc">
    <meta name="apple-mobile-web-app-title" content="cdr255">
    <meta name="application-name" content="cdr255">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-TileImage"
          content="/mstile-144x144.png?v=vUdifFwDc">
    <meta name="theme-color" content="#417847">
    <title>cdr255.com - Page Name</title>
  </head>
  <body>
    <header>
      <a href="https://cdr255.com/">
        <h1>cdr255</h1>
      </a>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about/">About</a>
          </li>
          <li>
            <a href="/projects/">Projects</a>
          </li>
          <li>
            <a href="/papers/">Papers</a>
          </li>
          <li>
            <a href="/links/">Links</a>
          </li>
          <li>
            <a href="/misc/">Misc</a>
          </li>
          <li>
            <a href="https://yewscion.com/">Blog</a>
          </li>
          <li>
            <a rel="me" href="https://tech.lgbt/@yewscion">Mastodon</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <!-- Start Content -->
        <h2>Page Name</h2>
        <section>
          <h3>Subsection</h3>
        </section>
        <aside>
          Last Updated: <time datetime="1970-01-01 00:00:00+0000">
            1970-01-01 00:00:00+0000</time>
        </aside>
        <!-- End Content -->
      </article>
    </main>
    <footer>
      <small>
        <p class="author">Original Content &#xA9;2021-2022 Christopher
          Rodriguez, made using Emacs, Org Mode, and GNU/Linux.</p>
        <p class="attributions">Background from
          <a href="https://www.svgbackgrounds.com/">SVGBackgrounds</a>.
          Fonts from
          <a href="https://fonts.google.com/">Google Fonts</a>.</p>
      </small>
      <p class="badges">
        <a rel="license"
           href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img alt="Creative Commons BY-SA License 4.0"
               style="border-width:0;" src="/assets/cc-by-sa-40.png"/>
        </a>
        &#xA0;&#xA0;&#xA0;&#xA0;
        <a rel="license"
           href="https://www.gnu.org/licenses/agpl-3.0.en.html">
          <img alt="GNU Affero General Public License 3.0"
               style="border-width:0" src="/assets/agplv3.png"/>
        </a>
      </p>
    </footer>
  </body>
</html>
