[Desktop Entry]
Encoding=UTF-8
Exec=/home/ANT.AMAZON.COM/rodnchr/.guix-home/profile/bin/stumpwm
Name=StumpWM
Icon=
Type=Application
Comment=This session logs You into StumpWM (a lisp-based window manager)
